PORT=5001

# VoltCred GraphQL API
# Staging:    https://api-stage.voltcred.com/v2/graphql
# Production: https://api.voltcred.com/v2/graphql
VOLTCRED_GRAPHQL_URL=https://api-stage.voltcred.com/v2/graphql
VOLTCRED_EMAIL=hello@optimotion.in
VOLTCRED_PASSWORD=your_password_here
